@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-primary: #0590cc;
  --c-primary-green: #7ebf50;
  --c-primary-yellow: #ffb700;
  --c-primary-pink: #d93393;
  --c-primary-royal: #284ea2;
  --c-primary-purple: #5e3c97;

  --c-darkest-gray: #050c1a;
  --c-darker-gray: #212329;
  --c-dark-gray-warm: #3c3c3c;
  --c-dark-gray-cool: #56585f;
  --c-medium-gray: #8a8d95;
  --c-gray: #b6b9bf;
  --c-gray-divider: #e3e3e3;
  --c-light-gray: #d1d3d8;
  --c-lighter-gray: #f0efee;
  --c-lightest-gray: #f6f6f6;

  --c-secondary: #0076aa;
  --c-secondary-green: #5e9f30;
  --c-secondary-yellow: #eca500;
  --c-secondary-pink: #b51873;
  --c-secondary-royal: #103381;
  --c-secondary-purple: #33004d;

  --c-lightest-blue: #d9edf9;
  --c-light-blue: #40a6de;
  --c-light-green: #82de40;

  --c-list-hover: #fff8e5;

  --c-hover-t40: rgba(5, 12, 26, 0.4);

  --c-white: #ffffff;
  --c-white-t50: rgba(255, 255, 255, 0.5);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}

/* Toast Notification */
.vim-menu-toast {
  position: absolute;
  top: 10%;
  left: calc(50% - 50px);
  background-color: rgba(0,0,0,.6);
}

/* Axes Gizmo*/
.gizmo-axis-canvas {
  z-index: 1;
  top: 24px !important;
  right: 24px !important;
  margin: 8px 16px 8px 16px;
  filter: saturate(0%);
  transition: all 0.5s ease;
}

.gizmo-axis-canvas:hover {
  filter: saturate(100%);
  transition: all 0.5s ease;
}

.vim-loading-box {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background-color: #f6f6f6;

  font-family: "Roboto", sans-serif;

  /*Centers the box*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Context Menu */
.
.checked {
  font-weight: bold;
}


/* Logo */

.vim-logo {
  position: fixed;
  top: 16px;
  left: 16px;
}

.vim-logo img {
  height: 48px;
  width: 128px;
}

/*Makes full screen and remove scrollbars*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #f0f0ff, #999999);
}

.VimLoadingBox h1 {
  color: #050c1a;
}

.vim-section {
  position: fixed;
  bottom: 0px;
  right: 64px;
  width: 64px;
  pointer-events: all;
}

/* MENU */

.vim-menu td {
  pointer-events: all;
}

.vim-menu td.empty {
  pointer-events: none;
}

.vim-menu table {
  width: 64px;
}

.vim-menu button:focus, .vim-bim-search input[type='search']:focus {
  outline: 0;
  box-shadow: none;
}

.vim-menu .iconButton {
  color: var(--c-white);
  border: none;
  background-color: transparent;
}
.vim-menu .iconButton.active {
  background-color: var(--c-primary-royal);
}
.vim-menu .iconButton img {
  width: 42px;
  height: 42px;
}

.vim-menu .iconButton:hover img {
  transform: scale(1.1);
}

.vim-menu .iconButton:active img {
  transform: scale(1.1);
  filter: brightness(1.5);
}

.vim-menu .iconButton:disabled img {
  filter: brightness(0.5);
  transform: scale(1);
}

/* Help Controls Widget */
.vim-help-controls {
  position: fixed;
  bottom: 64px;
  width: 100%;
  pointer-events: none;
}

/* Tooltips */
.__react_component_tooltip {
  transition: opacity 0.1s ease-out !important;
}

/* Bim Panel */

.vim-bim-panel {
  height: 100%;
  width: 480px;
}
.bim-panel-open {
  margin-left: 480px;
  max-width: calc(100% - 480px);
  object-fit: cover;
}

.submenu-item-active {
  position: relative;
}
.submenu-item-active::before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%230590cc' d='M228.693 61.741c5.379-7.011 4.057-17.055-2.954-22.434-7.01-5.379-17.054-4.057-22.434 2.954l-.008.011L99.864 177.069l-39.607-47.203c-5.68-6.769-15.772-7.652-22.542-1.972s-7.652 15.772-1.972 22.542l52.416 62.467.006.007c.018.021.038.039.056.06.214.252.448.492.681.733.153.159.3.326.458.478s.331.291.497.437c.251.222.5.445.763.648l.062.053c.108.083.225.151.334.231.304.221.608.44.924.638.166.104.335.192.503.289.284.164.567.328.859.473.221.11.447.204.671.303.245.107.487.219.736.313.268.103.54.188.812.275.214.069.428.142.645.202.293.081.588.144.884.208.206.044.411.093.619.129.294.051.589.085.884.12.219.026.437.055.656.071.275.021.55.026.825.033.245.006.489.015.735.009.246-.005.491-.024.736-.042.274-.018.548-.036.821-.068.22-.026.437-.065.654-.101.293-.047.585-.094.876-.158.207-.045.41-.103.615-.157.292-.076.584-.152.873-.245.215-.069.425-.152.637-.23.267-.099.535-.196.798-.31.245-.105.483-.228.723-.346.219-.108.44-.211.656-.331.286-.158.562-.334.839-.511.163-.104.328-.199.488-.31.307-.211.603-.444.896-.678.106-.085.219-.157.324-.245.021-.018.039-.038.06-.056.253-.215.492-.449.733-.681.159-.153.326-.301.478-.458.152-.159.292-.332.438-.498.221-.25.444-.5.647-.761.017-.022.037-.041.054-.063L228.693 61.741Z'/%3E%3C/svg%3E");
  background-size: contain;
  position: absolute;
  left: 20px;
  top: 12px;
  width: 20px;
  height: 17px;
}
.rct-tree-root {
  font-family: inherit;
}
.rct-tree-root > div > .rct-tree-items-container {
  max-height: calc(50vh - 9rem);
  overflow-y: auto;
}
.rct-tree-items-container li .rct-tree-item-title-container {
  border: none;
}
.rct-tree-items-container
  li
  .rct-tree-item-title-container
  .rct-tree-item-button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  min-height: 2.5rem;
}
.rct-tree-items-container > li:nth-child(odd) {
  background-color: var(--c-white);
}
.rct-tree-items-container > li:nth-child(even) {
  background-color: var(--c-lightest-gray);
}

.vim-inspector-properties {
  max-height: 500px;
}
.rct-tree-root-focus {
  outline: none;
}
.rct-tree-root.rct-tree-root-focus .rct-tree-item-title-container-focused {
  border: none;
}

.rct-tree-item-li {
  font-size: 1rem;
}
.rct-tree-item-arrow {
  width: 20px;
}
.rct-tree-item-arrow svg {
  width: 12px;
}
.parameters:first-child > ul > li h3 {
  border-top-right-radius: 4px;
}
.rct-tree-root:not(.rct-tree-root-focus)
  .rct-tree-item-title-container-selected,
.rct-tree-root.rct-tree-root-focus .rct-tree-item-title-container-selected {
  background-color: var(--c-lightest-blue);
}
.rct-tree-item-title-container:hover {
  background-color: var(--c-list-hover);
}
