.vim-component {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

.vim-ui {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.vim-loading-box {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background-color: #f6f6f6;

  font-family: "Roboto", sans-serif;

  /*Centers the box*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vim-logo {
  position: fixed;
  top: 16px;
  left: 16px;
}

.vim-logo img {
  height: 48px;
  width: 128px;
}

/*Makes full screen and remove scrollbars*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #f0f0ff, #999999);
}

.VimLoadingBox h1 {
  color: #050c1a;
}

.vim-menu {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 64px;
  pointer-events: all;
}

.vim-menu button:focus {
  outline: 0;
}

.vim-menu .iconButton {
  border-width: 0;
  background-color: rgba(0, 0, 0, 0) !important;
}

.vim-menu .iconButton img {
  width: 42px;
  height: 42px;
}

.vim-menu .iconButton:hover img {
  transform: scale(1.1);
}

.vim-menu .iconButton:active img {
  transform: scale(1.1);
  filter: brightness(1.5);
}

.vim-menu .iconButton:disabled img {
  filter: brightness(0.5);
  transform: scale(1);
}

/* BIM Explorer */

.vim-bim-explorer {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #f0efee;
  width: 15%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 12.65px;
}

/* Title */
.vim-bim-explorer h1 {
  text-transform: uppercase;
  color: #b6b9bf;
  height: 30px;
  line-height: 30px;
  font-size: 9.85px;
}

.vim-bim-explorer table {
  display: block;
  border-spacing: 0px;
}

.vim-bim-explorer tbody {
  width: 100%;
  display: table;
}

.vim-bim-explorer thead {
  width: 100%;
  display: table;
}

.vim-bim-explorer th,
.vim-bim-explorer td {
  padding: 10px;
  text-align: left;
}

.vim-bim-explorer tr {
  height: 30px;
}

/* BIM Explorer - Main*/

.vim-bim-explorer .main {
  background-color: white;
  border-radius: 6px;
}

.vim-bim-explorer .main th {
  width: 30%;
  text-transform: uppercase;
  color: #050c1a;
  font-size: 9.85px;
}

.vim-bim-explorer .main td {
  color: #56585f;
}

/* BIM Explorer - Details*/

/* Rounding for table */
.vim-bim-explorer .details thead th {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.vim-bim-explorer .details tbody tr:last-of-type th {
  border-bottom-left-radius: 6px;
}
.vim-bim-explorer .details tbody tr:last-of-type td {
  border-bottom-right-radius: 6px;
}

/* Details Header */
.vim-bim-explorer .details thead th {
  background-color: #e3e3e3;
  text-transform: uppercase;
  color: #8a8d95;
  font-size: 9.85px;
}

/* Details alternating colors */
.vim-bim-explorer .details tr:nth-child(odd) {
  background-color: white;
}
.vim-bim-explorer .details tr:nth-child(even) {
  background-color: #f6f6f6;
}

/* Details labels */
.vim-bim-explorer .details tbody th {
  width: 60%;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #b6b9bf;
  color: #050c1a;
}
